  </div>

<!-- 
  NOTE: 
    - Import libraries 
    - We dont need Bootstrap now
    <script src="../assets/libs/tether/dist/js/tether.min.js"></script>
    <script src="../assets/libs/bootstrap/js/bootstrap.min.js"></script>
-->
<script src="../assets/libs/jquery-3.3.1.min.js"></script>
<script src="../assets/libs/fontawesome/svg-with-js/js/fontawesome-all.min.js"></script>

<!-- NOTE: Import JS page -->
<script type="text/javascript" src="../assets/js/<%= js %>"></script>
</body>
</html>