<!DOCTYPE html>
<html lang="vi">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= title %></title>

	<!-- 
		NOTE: 
			- Import libraries 
			- We dont need Bootstrap now
			<link rel="stylesheet" href="../assets/libs/tether/dist/css/tether.min.css">
			<link rel="stylesheet" href="../assets/libs/bootstrap/css/bootstrap.min.css">
	-->
  <link rel="stylesheet" href="../assets/libs/fontawesome/svg-with-js/css/fa-svg-with-js.css">

	<!-- NOTE: Import CSS page -->
	<link rel="stylesheet" href="../assets/css/pages/<%= css %>">
</head>
<body>
	<div id="root">
		